body {
  background-color: gray;
}

#board {
  width: 560px;
}

.row {
  position: relative;
  float: left;
}

.square {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
}

.brown {
  background-color: brown;
  /* background-color: #999999; */
}

.beige {
  background-color: #c77700;
  /* background-color: #cccccc; */
}
